<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label>Asdf for Shopware</label>
    <version>1.0.0</version>
    <copyright>kuniva GmbH</copyright>
    <author>Codeleaf</author>
    <description>Extending filter options for orders.</description>

    <compatibility minVersion="5.3.0" />
</plugin>